services:
  telegraf:
    image: telegraf:1.29-alpine
    container_name: aurora-agent-ofsc
    restart: unless-stopped
    env_file:
      - ./.env
    volumes:
      - ./telegraf.conf:/etc/telegraf/telegraf.conf:ro
      - ./certs:/certs:ro
    network_mode: host

volumes: {}
networks: {}
