services:
  telegraf:
    image: telegraf:1.29-alpine
    container_name: aurora-agent-workstation
    restart: unless-stopped
    env_file:
      - ./.env
    volumes:
      - ./telegraf.conf:/etc/telegraf/telegraf.conf:ro
      - ./certs:/certs:ro
    network_mode: host
    devices:
      - /dev/nvidia0:/dev/nvidia0
      - /dev/nvidiactl:/dev/nvidiactl
      - /dev/nvidia-uvm:/dev/nvidia-uvm

volumes: {}
networks: {}
