apiVersion: 1

datasources:
  - name: InfluxDB
    type: influxdb
    access: proxy
    url: ${EDGE_INFLUX_URL_GRAFANA}
    jsonData:
      version: Flux
      organization: ${EDGE_INFLUX_ORG}
      defaultBucket: ${EDGE_INFLUX_BUCKET}
      tlsSkipVerify: true
    secureJsonData:
      token: ${EDGE_INFLUX_ADMIN_TOKEN}
